<main class="px-3 py-3">
  <p class="text-center h1" style="color: #192A67;">List <strong>ToDo</strong></p>
  <div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-primary float-left" (click)="showAdd()">
        Add
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="toDoTable" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover"  >
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>State</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let toDo of toDoList">
              <td>{{toDo.title}}</td>
              <td>{{toDo.description}}</td>
              <td>
                <span [className]="toDo.state=='COMPLETE'?'badge bg-success':'badge bg-danger'">
                  {{toDo.state}}
                </span>
              <td>
                <button class="btn btn-warning text-white" (click)="showUpdate(toDo)">
                  Update
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="showDelete(toDo)">
                  Delete
                </button>
              </td>
              <td>
                <button class="btn btn-info text-white" (click)="manageSate(toDo)">
                  Change state
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <p class="text-center h1" style="color: #192A67;">Search <strong>ToDo</strong></p>
  <div class="card">
    <div class="card-header">
      <form id="searchFormGroup" [formGroup]="searchFormGroup">
        <div class="form-group row my-3">
          <label for="Title" class="col-sm-1 col-form-label">Title</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="title" formControlName="title"
            [ngClass]="{
              'is-invalid': !searchFormGroup.get('title')?.valid && (searchFormGroup.get('title')?.dirty || searchFormGroup.get('title')?.touched),
              'is-valid': searchFormGroup.get('title')?.valid
            }">
            <div *ngIf="searchFormGroup.controls['title'].errors?.['required']" class="invalid-feedback">
              <strong> Title </strong>required!
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="search()">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="form-group row my-3">
        <label for="TitleSearch" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="titleSearch" readonly>
        </div>
      </div>
      <div class="form-group row my-3">
        <label for="DescriptionSearch" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="descriptionSearch" readonly>
        </div>
      </div>
      <div class="form-group row my-3">
        <label for="State" class="col-sm-2 col-form-label">State</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="stateSearch" readonly>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal ToDo -->
<div class="modal fade" id="toDoModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{titleModal}} ToDo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="toDoFormGroup" [formGroup]="toDoFormGroup">
          <div class="form-group row mb-3">
            <label for="Title" class="col-sm-3 col-form-label">Title</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="title" formControlName="title"
              [ngClass]="{
                'is-invalid': !toDoFormGroup.get('title')?.valid && (toDoFormGroup.get('title')?.dirty || toDoFormGroup.get('title')?.touched),
                'is-valid': toDoFormGroup.get('title')?.valid
              }">
              <div *ngIf="toDoFormGroup.controls['title'].errors?.['required']" class="invalid-feedback">
                <strong> Title </strong>required!
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="Description" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="description" formControlName="description"
              [ngClass]="{
                'is-invalid': !toDoFormGroup.get('description')?.valid && (toDoFormGroup.get('description')?.dirty || toDoFormGroup.get('description')?.touched),
                'is-valid': toDoFormGroup.get('description')?.valid
              }">
              <div *ngIf="toDoFormGroup.controls['description'].errors?.['required']" class="invalid-feedback">
                <strong> Description </strong>required!
              </div>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="Sate" class="col-sm-3 col-form-label">State</label>
            <div class="col-sm-9">
              <select class="form-select" id="state" formControlName="state"
              [ngClass]="{
                'is-invalid': !toDoFormGroup.get('state')?.valid && (toDoFormGroup.get('state')?.dirty || toDoFormGroup.get('state')?.touched),
                'is-valid': toDoFormGroup.get('state')?.valid
              }">
                <option *ngFor="let state of stateList" [ngValue]="state">{{state}}</option>
              </select>
              <div *ngIf="toDoFormGroup.controls['state'].errors?.['required']" class="invalid-feedback">
                <strong> State </strong>required!
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>